/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
/* Default config */
* {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
}

.breakfast-div,
.lunch-div,
.dinner-div {
    padding-top: 100px;
}

.breakfast-div,
.dinner-div {
    background-color: #000000;
    color: #fff;
}

.title {
    text-align: center;
    text-transform: capitalize;
    font-size: 3rem;
    padding-bottom: 30px;
}

/* NavBar Starts */
.navbar {
    background-color: #f8f9fa !important;
    box-shadow: 0px -5px 15px black;
}

.navbar-brand {
    margin: 0 5rem 0 4rem;
}

.navbar-collapse {
    flex-grow: 0;
    margin-right: 4rem;
}

.navbar-nav {
    padding-right: 3rem;
}

.nav-link {
    font-size: 1.2rem;
}

.nav-underline .nav-link.active {
    font-weight: 500;
    color: #000;
}

.btn-outline-success {
    color: #000;
    border-color: #000;
    --bs-btn-active-border-color: #aeaeae;
    --bs-btn-active-bg: #aeaeae;
}

.btn-outline-success:hover {
    border-color: #aeaeae;
    background-color: #aeaeae;
}
/* NavBar Ends */

/* Intro Starts */
.intro-img img {
    max-width: 450px;
    margin-bottom: 50px;
}

#intro-div {
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.intro-text {
    font-size: 1.3rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}
/* Intro Ends */

/* Breakfast Starts */

/* Breakfast Ends */

/* Lunch Starts */
/* Lunch Ends */

/* Dinner Starts */
/* Dinner Ends */

/* RESPONSIVE */
@media screen and (max-width: 1200px) {
    .intro-text {
        font-size: 1.2rem;
    }
    .intro-img img {
        width: 300px;
    }
    .nav-link {
        font-size: 1rem;
    }
}

@media screen and (max-width: 900px) {
    .intro-text {
        font-size: 1rem;
    }
    .nav-link {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 750px) {
    .intro-text {
        font-size: 0.85rem;
    }
    .intro-img img {
        width: 250px;
    }
}

@media screen and (max-width: 650px) {
    #intro-div {
        display: block;
    }
    .intro-img {
        text-align: center;
    }
    .intro-img img {
        width: 350px;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .intro-text {
        font-size: 0.75rem;
        padding-left: 0.85rem;
        padding-right: 0.85rem;
    }
    .intro-img img {
        width: 250px;
    }
    .navbar-brand {
        margin: 0 3rem 0 2rem;
    }
    .navbar-brand img {
        width: 100px;
        height: 90px;
    }
    .navbar-collapse {
        margin-right: 2rem;
    }
    .btn-outline-success {
        font-size: 0.85rem;
    }
    .form-control {
        width: 50%;
        padding: 0.2rem 0.55rem;
    }
    .form-control::placeholder {
        font-size: 0.85rem;
    }
}
