/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
/* Default config */
* {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
}

/* NavBar Starts */
.navbar {
    background-color: #f8f9fa !important;
    box-shadow: 0px -5px 15px black;
}

.navbar-brand {
    margin: 0 5rem 0 4rem;
}

.navbar-collapse {
    flex-grow: 0;
    margin-right: 4rem;
}

.navbar-nav {
    padding-right: 3rem;
}

.nav-link {
    font-size: 1.2rem;
}

.nav-underline .nav-link.active {
    font-weight: 500;
    color: #000;
}

.btn-outline-success {
    color: #000;
    border-color: #000;
}

.btn-outline-success:hover {
    border-color: #aeaeae;
    background-color: #aeaeae;
}
/* NavBar Ends */

/* Intro Starts */
.intro {
    height: 100vh;
}

.intro-img img {
    max-width: 450px;
}

#intro-div {
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.intro-text {
    font-size: 1.3rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}
/* Intro Ends */
